.home {
    width: 100%;
    position: relative;
}

.header {
    height: 80px;
    font-size: 40px;
    padding-top: 20px;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
}
.planetContainer {
    width: 50%;
    height: 400px;
    background: Black;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.planetContainer:hover{
    opacity: 0.8;
}

.planet {
    width: 350px;
    height: 350px;
    /*background: lightblue;*/
    border-radius: 50%;
    margin: 0 auto 10px auto;
}

.degabah {
    background: url("./../../img/degabah.png")center no-repeat;
    background-size: cover;
}

.coruscant {
    background: url("./../../img/coruscant.png")center no-repeat;
    background-size: cover;
}